<!DOCTYPE html>
<html>
<head>
<title>Taskr</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
<section class="outer-container">
  <h1><%= link_to "Taskr", "tasks#index" %></h1>

  <%= yield %>
</section>
</body>
</html>
